@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: 'BR_Sonoma-Regular';
    src: url('~/assets/fonts/BRSonoma-Regular.woff2') format('woff2'),
        url('~/assets/fonts/BRSonoma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BR_Sonoma-Bold';
    src: url('~/assets/fonts/BRSonoma-Bold.woff2') format('woff2'),
        url('~/assets/fonts/BRSonoma-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BR_Sonoma-Light';
    src: url('~/assets/fonts/BRSonoma-Light.woff2') format('woff2'),
        url('~/assets/fonts/BRSonoma-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}